<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <ul class="follow-list">
        <li><%= link_to "ツイート", user_path(@user) %></li>
        <li><%= link_to "フォロー", following_users_user_path(@user) %></li>
        <li><%= link_to "フォロワー", follower_users_user_path(@user) %></li>
      </ul>
      <p><%= @user.description %></p>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

    <% if params[:action] == 'show' %>
      <h3>ツイート</h3>
      <% if @user.microposts.any? %>
        <ol class="microposts">
          <% # 別フォルダの部分テンプレートを参照 %>
          <% # collectionのモデルの内容をみて部分テンプレートに展開される %>
          <%= render @microposts %>
          <%= paginate @microposts %>
        </ol>
      <% else %>
        <p>まだツイートがありません</p>
      <% end %>
    <% elsif params[:action] == 'following_users' %>
      <h3>フォロー中のユーザー</h3>
      <% if @following_users.any? %>
        <ol class="users">
          <% # モデルの中身で参照する。users/_user.html.erbが参照される。変数名は関係なし %>
          <%= render @following_users %>
          <%= paginate @following_users %>
        </ol>
      <% else %>
        <p>まだフォロー中のユーザーはいません</p>
      <% end %>
    <% else %>
      <h3>フォローされているユーザー</h3>
      <% if @follower_users.any? %>
        <ol class="users">
          <%= render @follower_users %>
          <%= paginate @follower_users %>
        </ol>
      <% else %>
        <p>まだフォローされているのユーザーはいません</p>
      <% end %>
    <% end %>
</div>

