<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

    <ul class="nav nav-tabs" style="margin-top:20px;">
      <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">ツイート(<%= @user.microposts.count %>)</a></li>
      <li role="presentation"><a href="#tab2" data-toggle="tab">フォロー(<%= @following_users.count %>)</a></li>
      <li role="presentation"><a href="#tab3" data-toggle="tab">フォロワー(<%= @follower_users.count %>)</a></li>
    </ul>    
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <% #micropostsがある時に表示 %>
        <% if @user.microposts.any? %>
          <ol class="microposts">
            <% # 別フォルダの部分テンプレートを参照 %>
            <%= render :partial => "microposts/micropost", :collection => @microposts %>
          </ol>
        <% else %>
          <p>まだツイートがありません</p>
        <% end %>
      </div>
      <div class="tab-pane fade" id="tab2">
        <ol class="follow-users">
          <%= render :partial => "follow_users", :collection => @following_users, :as => "follow_user" %>
        </ol>
      </div>
      <div class="tab-pane fade" id="tab3">
        <ol class="follow-users">
          <%= render :partial => "follow_users", :collection => @follower_users, :as => "follow_user" %>
        </ol>
      </div>
    </div>
</div>

<%#= render 'shared/user_info' %>
